Repository fdorg/flashdevelop, pull requests merged in 2018-07, with the labels that each got.

#2176 [Haxe] Fixed of 'Multiple Haxe processes' and 'No Haxe compiler completion'. fixes #2175. fixes #2173
  External/Plugins/HaXeContext/Completion/HaxeComplete.cs
  External/Plugins/HaXeContext/Completion/HaxeComplete330.cs
Labels: bug, haxe

#2178 [AIR] Restore ascsh.jar. fixes #2128. fixes #1167
  FlashDevelop/Bin/Debug/Tools/flexlibs/lib/ascsh.jar
Labels: air, flash

#2180 [Haxe][CodeComplete] Fixed of code completion if setting `Disable completion on demand` equals false
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  External/Plugins/ASCompletion/PluginMain.cs
  External/Plugins/HaXeContext/Completion/CodeComplete.cs
  Tests/External/Plugins/ASCompletion.Tests/ASCompletionTests.cs
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASCompleteTests.cs
  Tests/External/Plugins/HaxeContext.Tests/Completion/CodeCompleteTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceText_10.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_10.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_11.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_12.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_13.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_14.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_15.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_16.hx
Labels: bug, haxe

#2184 [Haxe][CodeComplete][InferLocalVariableType] Fixed 'Stack overflow exception when pressing .'. fixes #2182
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  External/Plugins/ASCompletion/Model/MemberModel.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferVar_19.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferVar_19.hx
Labels: bug, coderefactor, haxe

#2196 Fixed 'Method call tip: pressing F1 twice removes the selected argument highlight'. fixes #937
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  PluginCore/PluginCore/Controls/MethodCallTip.cs
Labels: enhancement

#2205 [Haxe][CodeGenerator] Fixed 'generate private function is not correct'. fixes #2200
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGeneratePublicFunction_issue2200_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGeneratePublicFunction_issue2200_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGeneratePublicFunction_issue2200_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGeneratePublicFunction_issue2200_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGeneratePublicFunction_issue2200_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGeneratePublicFunction_issue2200_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGeneratePublicFunction_issue2200_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGeneratePublicFunction_issue2200_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGeneratePublicFunction_issue2200_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGeneratePublicFunction_issue2200_5.hx
Labels: haxe

#2207 [CodeGenerator] Fixed: 'Declare variable issue'. fixes #2201
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGeneratePublicFunction_issue2201_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGeneratePublicFunction_issue2201_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGeneratePublicFunction_issue2201_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGeneratePublicFunction_issue2201_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGeneratePublicFunction_issue2201_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGeneratePublicFunction_issue2201_3.hx
Labels: coderefactor

#2211 [Haxe][ASFileParser] Fixed: 'Goto declaration' fails for anonymous structure extensions. fixes #2209
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  External/Plugins/ASCompletion/Model/ASFileParser.cs
  Tests/External/Plugins/ASCompletion.Tests/Model/ASFileParserTests.cs
  Tests/External/Plugins/ASCompletion.Tests/Test Files/parser/haxe/TypeDefsTest.hx
Labels: haxe, parser

#2212 [CodeGenerator] Fixed: 'Declare variable issue'. fixes #2201
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGeneratePublicFunction_issue2201_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGeneratePublicFunction_issue2201_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGeneratePublicFunction_issue2201_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGeneratePublicFunction_issue2201_5.hx
Labels: coderefactor

#2213 [CodeRefactor][OrganizeImports] Added unit tests for issue1342. closes #1342
  Tests/External/Plugins/CodeRefactor.Tests/CodeRefactor.Tests.csproj
  Tests/External/Plugins/CodeRefactor.Tests/Commands/RefactorCommandTests.cs
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/haxe/AfterOrganizeImports_Issue1342.hx
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/haxe/BeforeOrganizeImports_Issue1342.hx
  Tests/External/Plugins/HaxeContext.Tests/Commands/RefactorCommandTests.cs
Labels: coderefactor

#2216 [Haxe][Context] Added 'ASCompletion.Context.IASContext.ResolveDotContext(ScintillaControl sci, ASExpr expression, MemberList result)'
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  External/Plugins/ASCompletion/Context/ASContext.cs
  External/Plugins/ASCompletion/Context/IASContext.cs
  External/Plugins/CodeRefactor/Commands/Move.cs
  External/Plugins/HaXeContext/Context.cs
  Tests/External/Plugins/ASCompletion.Tests/TestUtils/ContextExtensions.cs
  Tests/External/Plugins/HaxeContext.Tests/ContextTests.cs
Labels: enhancement, haxe

#2221 [Haxe][CodeGenerator] Fixed 'Code Generator' for 'get' and 'set' outside the declaration of the property. fixes #2220
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterContextualGeneratorTests_issue2220_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterContextualGeneratorTests_issue2220_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2220_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2220_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2220_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2220_4.hx
Labels: coderefactor, haxe

#2223 [Haxe][CodeGenerator] Fixed RTE. fixes #2222
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/HandleOverrideCompletion_issue2222_1.hx
Labels: coderefactor, haxe

#2229 [Haxe][CodeGenerator][ImplementInterfaceMethods] Fixed RTE. fixes #2228
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
Labels: coderefactor, haxe

#2232 [Haxe][CodeGenerator][GenerateOverride] Fixed RTE. fixes #2231
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  Tests/External/Plugins/ASCompletion.Tests/ASCompletion.Tests.csproj
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASGeneratorTests.cs
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/haxe/AfterOverrideFunction_issue_2231_1.hx
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/haxe/AfterOverrideFunction_issue_2231_2.hx
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/haxe/BeforeOverrideFunction_issue_2231_1.hx
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/haxe/BeforeOverrideFunction_issue_2231_2.hx
Labels: coderefactor, haxe

#2233 [Haxe][CodeGenerator] Fixed: Wrong property generation after executing `Add to interface`. fixes #1733
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  FlashDevelop/Bin/Debug/Snippets/haxe/generators/IGetterSetter.fds
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAddInterfaceDefTests_issue1733_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAddInterfaceDefTests_issue1733_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAddInterfaceDefTests_issue1733_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAddInterfaceDefTests_issue1733_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAddInterfaceDefTests_issue1733_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAddInterfaceDefTests_issue1733_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAddInterfaceDefTests_issue1733_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAddInterfaceDefTests_issue1733_4.hx
Labels: coderefactor, haxe

#2235 [Haxe][CodeGenerator] Added settings 'Disable type declaration for variables'. False by default. fixes #2230
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  External/Plugins/HaXeContext/HaXeSettings.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_issue2230_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_issue2230_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_issue2230_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_issue2230_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_issue2230_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_issue2230__1.hx
Labels: coderefactor, enhancement, haxe

#2237 [ProjectManager] Added settings 'Show External Libraries'. False by default. fixes #1046
  External/Plugins/HaXeContext/Context.cs
  External/Plugins/ProjectManager/Controls/TreeView/OtherNodes.cs
  External/Plugins/ProjectManager/PluginMain.cs
  External/Plugins/ProjectManager/Projects/Project.cs
  External/Plugins/ProjectManager/Settings.cs
  PluginCore/PluginCore/Resources/de_DE.resx
  PluginCore/PluginCore/Resources/en_US.resx
  PluginCore/PluginCore/Resources/eu_ES.resx
  PluginCore/PluginCore/Resources/ja_JP.resx
  PluginCore/PluginCore/Resources/ko_KR.resx
  PluginCore/PluginCore/Resources/zh_CN.resx
Labels: enhancement, haxe

#2242 Fix typo...
  External/Tools/FDBuild/FDBuildOptions.cs
Labels: bug

#2243 [Haxe][CodeComplete] Support for import static members. fixes #1150
  External/Plugins/HaXeContext/Context.cs
  Tests/External/Plugins/ASCompletion.Tests/TestUtils/ContextExtensions.cs
  Tests/External/Plugins/HaxeContext.Tests/ContextTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue1150_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue1150_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue1150_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue1150_4.hx
Labels: enhancement, haxe

#2245 [CodeRefactor] Disabled `Refactor -> Move` for files from `std`. fixes #2244
  External/Plugins/CodeRefactor/PluginMain.cs
  External/Plugins/CodeRefactor/Provider/RefactoringHelper.cs
Labels: coderefactor

#2251 [Haxe][OpenFL] Fixed: Incorrect 'openfl display' command when openinga new project. fixes #1281
  External/Plugins/HaXeContext/ExternalToolchain.cs
  External/Plugins/HaXeContext/PluginMain.cs
  External/Plugins/ProjectManager/PluginMain.cs
Labels: haxe

#2252 [Haxe][CodeGenerator] Added new contextual generator: `Generate switch`
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  FlashDevelop/Bin/Debug/Snippets/haxe/generators/Switch.fds
  PluginCore/PluginCore/Resources/de_DE.resx
  PluginCore/PluginCore/Resources/en_US.resx
  PluginCore/PluginCore/Resources/eu_ES.resx
  PluginCore/PluginCore/Resources/ja_JP.resx
  PluginCore/PluginCore/Resources/ko_KR.resx
  PluginCore/PluginCore/Resources/zh_CN.resx
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests2.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGenerateSwitchLabels_issue1759_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGenerateSwitchLabels_issue1759_10.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGenerateSwitchLabels_issue1759_11.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGenerateSwitchLabels_issue1759_18.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGenerateSwitchLabels_issue1759_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGenerateSwitchLabels_issue1759_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGenerateSwitchLabels_issue1759_6.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGenerateSwitchLabels_issue1759_7.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGenerateSwitchLabels_issue1759_8.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGenerateSwitchLabels_issue1759_9.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateSwitchLabels_issue1759_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateSwitchLabels_issue1759_10.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateSwitchLabels_issue1759_11.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateSwitchLabels_issue1759_12.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateSwitchLabels_issue1759_13.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateSwitchLabels_issue1759_14.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateSwitchLabels_issue1759_15.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateSwitchLabels_issue1759_16.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateSwitchLabels_issue1759_17.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateSwitchLabels_issue1759_18.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateSwitchLabels_issue1759_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateSwitchLabels_issue1759_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateSwitchLabels_issue1759_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateSwitchLabels_issue1759_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateSwitchLabels_issue1759_6.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateSwitchLabels_issue1759_7.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateSwitchLabels_issue1759_8.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateSwitchLabels_issue1759_9.hx
Labels: coderefactor, enhancement, haxe

#2253 [Haxe][CodeGenerator] Adds '@:isVar' to declaration of member when generate 'get and set'. fixes #221
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASGeneratorTests.cs
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/haxe/AfterGenerateGetterSetter.hx
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/haxe/AfterGenerateGetterSetter_issue221.hx
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/haxe/AfterGeneratePrivateGetterSetterWithDefaultModifier.hx
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/haxe/AfterGeneratePrivateStaticGetterSetterWithDefaultModifier.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterContextualGeneratorTests_issue1747_4.hx
Labels: coderefactor, haxe

#2254 [Refactoring][ASClassWizard] The 1st iteration. Fixed: ASClassWizard isn't aware of the haxelibs roots. fixes #778
  External/Plugins/ASClassWizard/PluginMain.cs
  External/Plugins/ASClassWizard/Wizards/AS3ClassWizard.cs
Labels: enhancement, haxe

#2256 [CodeGenerator] Fixed: Incorrect behavior for `public|private var foo:New|Class`. fixes #2255
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  Tests/External/Plugins/ASCompletion.Tests/ASCompletion.Tests.csproj
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASGeneratorTests.cs
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/haxe/BeforeGenerateClassTest_issue2255_1.hx
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/haxe/BeforeGenerateClassTest_issue2255_2.hx
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/haxe/BeforeGenerateClassTest_issue2255_3.hx
Labels: coderefactor

#2258 [CodeGenerator][AS3] Fixed: 'Add to interface' setter bug. fixes #2257
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  Tests/External/Plugins/ASCompletion.Tests/ASCompletion.Tests.csproj
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASGeneratorTests.cs
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/AfterAddToInterface_issue2257_1.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/AfterAddToInterface_issue2257_2.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/AfterAddToInterface_issue2257_3.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/AfterAddToInterface_issue2257_4.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/BeforeAddToInterface_issue2257_1.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/BeforeAddToInterface_issue2257_2.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/BeforeAddToInterface_issue2257_3.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/BeforeAddToInterface_issue2257_4.as
Labels: actionscript, coderefactor

#2259 [CodeRefactor][AS3] Fixed: organize imports not working with custom namespaces. fixes #592
  External/Plugins/CodeRefactor/Commands/OrganizeImports.cs
  Tests/External/Plugins/CodeRefactor.Tests/CodeRefactor.Tests.csproj
  Tests/External/Plugins/CodeRefactor.Tests/Commands/RefactorCommandTests.cs
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/AfterOrganizeImports.as
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/AfterOrganizeImports_2.as
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/AfterOrganizeImports_3.as
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/BeforeOrganizeImports.as
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/BeforeOrganizeImports_2.as
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/BeforeOrganizeImports_3.as
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/BeforeOrganizeImports_issue592_1.as
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/BeforeOrganizeImports_issue592_2.as
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/haxe/AfterOrganizeImports.hx
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/haxe/AfterOrganizeImports_withElseIfDirective.hx
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/haxe/AfterOrganizeImports_withImportsFromSameModule.hx
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/haxe/AfterOrganizeImports_withImportsFromSameModule2.hx
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/haxe/BeforeOrganizeImports_withElseIfDirective.hx
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/haxe/BeforeOrganizeImports_withImportsFromSameModule.hx
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/haxe/BeforeOrganizeImports_withImportsFromSameModule2.hx
  Tests/External/Plugins/HaxeContext.Tests/Commands/RefactorCommandTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/organizeimports/AfterOrganizeImports_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/organizeimports/AfterOrganizeImports_Issue1342.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/organizeimports/BeforeOrganizeImports_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/organizeimports/BeforeOrganizeImports_Issue1342.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/organizeimports/BeforeOrganizeImports_importStaticMember.hx
Labels: actionscript, coderefactor

#2260 [CodeRefactor][OrganizeImports] Fixed: Organize imports always marks file as having unsaved changes. fixes #781
  External/Plugins/CodeRefactor/Commands/OrganizeImports.cs
  Tests/External/Plugins/CodeRefactor.Tests/CodeRefactor.Tests.csproj
  Tests/External/Plugins/CodeRefactor.Tests/Commands/RefactorCommandTests.cs
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/AfterOrganizeImports_4.as
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/BeforeOrganizeImports_4.as
  Tests/External/Plugins/CodeRefactor.Tests/Test Files/coderefactor/organizeimports/BeforeOrganizeImports_issue781_1.as
Labels: coderefactor

#2195 RenameFile: Fix renaming that involves only a case change
  External/Plugins/CodeRefactor/Commands/Move.cs
  External/Plugins/CodeRefactor/Commands/Rename.cs
  External/Plugins/CodeRefactor/Commands/RenameFile.cs
  External/Plugins/ProjectManager/Actions/FileActions.cs
Labels: coderefactor

#2265 [CodeGenerator][ImplementInterfaceMethods] Fixed: Disable the generator if the interface does not contain members. fixes #2264
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterImplementInterface_issue1982_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterImplementInterface_issue2264_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeImplementInterface_issue2264_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeImplementInterface_issue2264_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeImplementInterface_issue2264_3.hx
Labels: coderefactor

#2267 [CodeGenerator][GenerateEventHandler] Fixed: Incorrect method signature for 'addEventListener' haxe/js. fixes #751
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/HaXeContext/Context.cs
  External/Plugins/ProjectManager/Projects/Haxe/HaxeProject.cs
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASGeneratorTests.cs
  Tests/External/Plugins/ASCompletion.Tests/TestUtils/ContextExtensions.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGenerateEventHandler_issue751_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGenerateEventHandler_issue751_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateEventHandler_issue751_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateEventHandler_issue751_2.hx
Labels: coderefactor

#2270 [Haxe][CodeGenerator] Fixed: wrong result for 'foo(?ar|gs)'. fixes #2269
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/HaXeContext/Completion/CodeComplete.cs
  External/Plugins/HaXeContext/Context.cs
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  Tests/External/Plugins/ASCompletion.Tests/ASCompletion.Tests.csproj
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASGeneratorTests.cs
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/AfterFieldFromParameter_varargs.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/AfterFieldFromParameter_varargs_2.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/BeforeFieldFromParameter_varargs.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/BeforeFieldFromParameter_varargs_2.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/haxe/AfterGenerateFieldFromOptionalUntypedParameter.hx
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_issue2151_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterContextualGeneratorTests_issue2022_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterContextualGeneratorTests_issue2022_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2022_4.hx
Labels: coderefactor, haxe

#2272 [AS3][CodeGenerator][DeclareVariable] Fixed: Wrong result after executing 'Declare variable' for 'this.v = v' if 'v' have type 'Function/*(v1:*):void*/'. fixes #2271
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  Tests/External/Plugins/ASCompletion.Tests/ASCompletion.Tests.csproj
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASGeneratorTests.cs
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/AfterDeclareVariable_issue2271_1.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/BeforeDeclareVariable_issue2271_1.as
Labels: actionscript, coderefactor

#2274 [AS3][CodeGenerator][GenerateGetterAndSetter] Fixed: Wrong result after executing 'Getter and Setter' for 'private |v:Function/*(v1:*):void*/;' fixes #2273
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  Tests/External/Plugins/ASCompletion.Tests/ASCompletion.Tests.csproj
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASGeneratorTests.cs
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/AfterDeclareVariable_issue2271_2.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/AfterDeclareVariable_issue2273_1.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/AfterDeclareVariable_issue2273_2.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/AfterGenerateFunction_issue394_6.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/BeforeDeclareVariable_issue2271_2.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/BeforeDeclareVariable_issue2273_1.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/BeforeDeclareVariable_issue2273_2.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/BeforeGenerateFunction_issue394_6.as
Labels: actionscript, coderefactor

#2276 [AS3][CodeGenerator][AddToInterface] Fixed: Wrong result after executing 'Add to interface' for 'private function set |foo(v:Function/*(v1:*):void*/):void {}'. fixes #2275
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  Tests/External/Plugins/ASCompletion.Tests/ASCompletion.Tests.csproj
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASGeneratorTests.cs
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/AfterAddToInterface_issue2275_1.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/BeforeAddToInterface_issue2275_1.as
Labels: actionscript, coderefactor

#2279 [AS3][CodeGenerator][ImplementInterfaceMethods] Fixed: Wrong result after executing 'Implement interface methods'. fixes #2278
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/ASCompletion/Completion/TemplateUtils.cs
  Tests/External/Plugins/ASCompletion.Tests/ASCompletion.Tests.csproj
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASGeneratorTests.cs
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/AfterImplementInterfaceMethods_issue2278_1.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/AfterImplementInterfaceMethods_issue2278_2.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/AfterImplementInterfaceMethods_issue2278_3.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/BeforeImplementInterfaceMethods_issue2278_1.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/BeforeImplementInterfaceMethods_issue2278_2.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/BeforeImplementInterfaceMethods_issue2278_3.as
Labels: actionscript, coderefactor

#2283 [AS3][CodeComplete][OverrideCompletion] Fixed: Wrong result after executing 'override completion'. fixes #2282
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  Tests/External/Plugins/ASCompletion.Tests/ASCompletion.Tests.csproj
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASCompleteTests.cs
  Tests/External/Plugins/ASCompletion.Tests/Test Files/completion/as3/AfterOnCharAndReplaceTextIssue2282_1.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/completion/as3/AfterOnCharAndReplaceTextIssue2282_2.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/completion/as3/AfterOnCharAndReplaceTextIssue2282_3.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/completion/as3/BeforeOnCharAndReplaceTextIssue2282_1.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/completion/as3/BeforeOnCharAndReplaceTextIssue2282_2.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/completion/as3/BeforeOnCharAndReplaceTextIssue2282_3.as
Labels: actionscript, coderefactor

#2287 [Haxe][CodeRefactor][OrganizeImports] Fixed: Disable 'Organize imports' for 'import.hx'. fixes #2284
  External/Plugins/AS3Context/MxmlComplete.cs
  External/Plugins/ASClassWizard/PluginMain.cs
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/CodeRefactor/PluginMain.cs
  External/Plugins/CodeRefactor/Provider/CommandFactory.cs
  External/Plugins/CodeRefactor/Provider/CommandFactoryProvider.cs
  External/Plugins/HaXeContext/CodeRefactor/Provider/HaxeCommandFactory.cs
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  External/Plugins/PHPContext/Context.cs
  Tests/External/Plugins/HaxeContext.Tests/CodeRefactor/Commands/RefactorCommandTests.cs
  Tests/External/Plugins/HaxeContext.Tests/CodeRefactor/Provider/HaxeCommandFactoryTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/organizeimports/OrganizeImportsValidator_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/organizeimports/OrganizeImportsValidator_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/organizeimports/OrganizeImportsValidator_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/organizeimports/import.hx
Labels: coderefactor, haxe

#2289 [Regression][Haxe][CodeRefactor][FindAllReferences] Fixed: Renaming function's arguments dont work when a compiler service 'EnableForFindAllReferences' is enabled. fixes #2250
  External/Plugins/HaXeContext/CodeRefactor/Commands/HaxeFindAllReferences.cs
Labels: coderefactor, haxe

#2290 [Regression][CodeRefactor] Fixed NPE
  External/Plugins/CodeRefactor/PluginMain.cs
  External/Plugins/CodeRefactor/Provider/CommandFactoryProvider.cs
Labels: coderefactor

#2052 support `--cwd` in hxml projects
  External/Plugins/ProjectManager/Projects/Haxe/HaxeProject.cs
Labels: haxe

#2294 [Haxe][CodeGenerator][GeneratePublicFunction] Fixed: Wrong result after executing 'Generate public function' in 'typedef'. fixes #2293
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGeneratePublicFunction_issue2293_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGeneratePublicFunction_issue2293_1.hx
Labels: coderefactor, haxe

#2296 [Haxe][CodeGenerator] Fixed: Disable the generation of static members in the 'typedef'. fixes #2295
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2295_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2295_2.hx
Labels: coderefactor, haxe

#2298 [AS3][Haxe][CodeGenerator] Fixed: Disable the generation of static members in the 'interface'. fixes #2297
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  Tests/External/Plugins/ASCompletion.Tests/ASCompletion.Tests.csproj
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASGeneratorTests.cs
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/BeforeContextualGenerator_issue2297_1.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/BeforeContextualGenerator_issue2297_2.as
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterContextualGeneratorTests_issue2297_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2297_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2297_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2297_5.hx
Labels: actionscript, coderefactor, haxe

#2300 [Haxe][CodeGenerator] Fixed: Disable the generation of static members in the 'enum'. fixes #2299
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2299_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2299_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2299_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2299_6.hx
Labels: bug, coderefactor, haxe

#2302 [Haxe][CodeGenerator][GenerateConstructor] Fixed: Support 'Generate Constructor' for 'enum'. fixes #2301
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests2.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterContextualGeneratorTests_issue2301_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterContextualGeneratorTests_issue2301_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2301_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2301_2.hx
Labels: coderefactor, haxe

#2304 [CodeGenerator][InsertImport] Fixed: Incorrect position of autoimport. fixes #2303
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterContextualGeneratorTests_issue2303_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterContextualGeneratorTests_issue2303_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterContextualGeneratorTests_issue2303_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2303_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2303_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2303_3.hx
Labels: coderefactor
