Repository fdorg/flashdevelop, pull requests merged in 2018-06, with the labels that each got.

#2139 [CodeComplete] Tests for #2108
  External/Plugins/AS2Context/Context.cs
  External/Plugins/HaXeContext/Context.cs
  Tests/External/Plugins/HaxeContext.Tests/Completion/CodeCompleteTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceText_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceText_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceText_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceText_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceText_6.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceText_7.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceText_8.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceText_9.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_6.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_7.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_8.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_9.hx
Labels: haxe

#2141 [Tests] More tests for refactoring `Rename`.
  External/Plugins/CodeRefactor/Commands/FindAllReferences.cs
  External/Plugins/CodeRefactor/Commands/Rename.cs
  External/Plugins/CodeRefactor/Provider/RefactoringHelper.cs
  External/Plugins/HaXeContext/Context.cs
  FlashDevelop/Bin/Debug/ProjectManager.dll
  Tests/External/Plugins/HaxeContext.Tests/Commands/RefactorCommandTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/AfterRename_enum_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/AfterRename_enum_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/AfterRename_enum_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/AfterRename_enum_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/AfterRename_enum_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/AfterRename_stringInterpolations_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/BeforeRename_enum_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/BeforeRename_enum_1_withoutEntryPoint.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/BeforeRename_enum_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/BeforeRename_enum_2_withoutEntryPoint.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/BeforeRename_enum_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/BeforeRename_enum_3_withoutEntryPoint.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/BeforeRename_enum_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/BeforeRename_enum_4_withoutEntryPoint.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/BeforeRename_enum_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/BeforeRename_enum_5_withoutEntryPoint.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/BeforeRename_stringInterpolations_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/BeforeRename_stringInterpolations_1_withoutEntryPoint.hx
Labels: coderefactor, haxe

#2142 [ProjectManager] Basic support for AIR30 and FP30
  External/Plugins/AirProperties/Managers/PropertyManager.cs
  FlashDevelop/Bin/Debug/ProjectManager.dll
  FlashDevelop/Bin/Debug/Settings/Platforms/AS3/air.xml
  FlashDevelop/Bin/Debug/Settings/Platforms/AS3/airmobile.xml
  FlashDevelop/Bin/Debug/Settings/Platforms/AS3/flashplayer.xml
  FlashDevelop/Bin/Debug/Settings/Platforms/Haxe/air.xml
  FlashDevelop/Bin/Debug/Settings/Platforms/Haxe/airmobile.xml
  FlashDevelop/Bin/Debug/Settings/Platforms/Haxe/flashplayer.xml
Labels: air, flash, haxe

#2143 [Haxe][CodeRefactor] Support for renaming values of '@:enum abstract' that have not access modifiers. fixes #2087
  External/Plugins/HaXeContext/Context.cs
  Tests/External/Plugins/HaxeContext.Tests/Commands/RefactorCommandTests.cs
  Tests/External/Plugins/HaxeContext.Tests/Completion/CodeCompleteTests.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceText_enums_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceText_enums_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceText_enums_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceText_enums_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceText_enums_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceText_enums_6.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceText_enums_7.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_enums_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_enums_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_enums_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_enums_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_enums_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_enums_6.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_enums_7.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_issue220_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_issue220_3.hx
Labels: coderefactor, haxe

#2146 [Haxe][CodeComplete] Improved code completion for enums
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  External/Plugins/ASCompletion/Context/ASContext.cs
  External/Plugins/ASCompletion/Context/IASContext.cs
  External/Plugins/ASCompletion/Model/FileModel.cs
  External/Plugins/ASCompletion/Model/PathModel.cs
  External/Plugins/HaXeContext/Context.cs
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASCompleteTests.cs
  Tests/External/Plugins/ASCompletion.Tests/TestUtils/ContextExtensions.cs
  Tests/External/Plugins/HaxeContext.Tests/Completion/CodeCompleteTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceText_enums_10.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceText_enums_8.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceText_enums_9.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_enums_10.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_enums_8.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceText_enums_9.hx
Labels: enhancement, haxe

#2149 [Haxe][InferVariableType] Small improvements for infer type of the variable
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  External/Plugins/HaXeContext/Completion/CodeComplete.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferParameterVar_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferVar_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferVar_10.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferVar_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferVar_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferVar_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferVar_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferVar_6.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferVar_7.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferVar_8.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferVar_9.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferParameterVar_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferVar_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferVar_10.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferVar_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferVar_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferVar_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferVar_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferVar_6.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferVar_7.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferVar_8.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferVar_9.hx
Labels: haxe

#2155 [Haxe][CodeGenerator] Improved code generation inside macro context. fixes #2154
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/HaXeContext/Completion/CodeComplete.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_issue2154_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_issue2154_1.hx
Labels: bug, coderefactor, haxe

#2156 [Haxe][CodeComplete.ExpressionEndPosition] Support for 'string interpolation'
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASCompleteTests.cs
Labels: bug, coderefactor, haxe

#2161 Fix a couple of crashes I experienced.
  External/Plugins/HaXeContext/Context.cs
  FlashDevelop/Managers/FilePollManager.cs
Labels: bug, haxe

#2166 [Haxe][CodeComplete] Improved inference the type of local variable
  External/Plugins/HaXeContext/Completion/CodeComplete.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_issue2086_6.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_issue2086_7.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_issue2086_8.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_issue2086_6.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_issue2086_7.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_issue2086_8.hx
Labels: coderefactor, haxe

#2168 [Haxe][CodeComplete][InferVariableType] Fixed RTE: 'Stack overflow'
  External/Plugins/HaXeContext/Completion/CodeComplete.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferVar_11.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferVar_11.hx
Labels: bug, haxe

#2163 Allow more list view shortcut keys in the keyboard shortcut dialog.
  FlashDevelop/Dialogs/ShortcutDialog.cs
Labels: enhancement

#2167 [Haxe] Support for Haxe 4.0.0-preview4
  External/Plugins/AS3Context/Context.cs
  External/Plugins/CodeRefactor/Provider/CommandFactoryProvider.cs
  External/Plugins/CodeRefactor/Provider/RefactoringHelper.cs
  External/Plugins/HaXeContext/CodeRefactor/Commands/HaxeFindAllReferences.cs
  External/Plugins/HaXeContext/Completion/HaxeComplete.cs
  External/Plugins/HaXeContext/Completion/HaxeComplete330.cs
  External/Plugins/HaXeContext/Completion/HaxeComplete400.cs
  External/Plugins/HaXeContext/Context.cs
  External/Plugins/HaXeContext/HaXeContext.csproj
  External/Plugins/ResultsPanel/PluginUI.cs
  PluginCore/PluginCore/Utilities/ExtensionClasses.cs
  PluginCore/PluginCore/Utilities/ProcessRunner.cs
  Tests/External/Plugins/ASCompletion.Tests/MainForm.cs
  Tests/External/Plugins/ASCompletion.Tests/TestUtils/ContextExtensions.cs
  Tests/External/Plugins/HaxeContext.Tests/Commands/RefactorCommandTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/AfterRenameOptionalParameterVar_issue2167_case_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/BeforeRenameOptionalParameterVar_issue2167_case_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/BeforeRenameOptionalParameterVar_issue2167_case_1_withoutEntryPoint.hx
Labels: haxe

#2169 [Haxe][CodeComplete] Improved displaying tooltip text of the constructor
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  External/Plugins/HaXeContext/Completion/CodeComplete.cs
  Tests/External/Plugins/ASCompletion.Tests/ASCompletion.Tests.csproj
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASCompleteTests.cs
  Tests/External/Plugins/ASCompletion.Tests/Test Files/completion/as3/GetToolTipText_1.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/completion/as3/GetToolTipText_2.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/completion/as3/GetToolTipText_3.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/completion/as3/GetToolTipText_4.as
  Tests/External/Plugins/HaxeContext.Tests/Completion/CodeCompleteTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/GetToolTipText_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/GetToolTipText_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/GetTooltipText_1.hx
Labels: actionscript, haxe

#2171 [Haxe][InferVariableType] Improvement inference the type of non local variable.
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  External/Plugins/HaXeContext/Completion/CodeComplete.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferVar_12.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferVar_13.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferVar_14.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferVar_15.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferVar_16.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferVar_17.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferVar_18.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferVar_12.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferVar_13.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferVar_14.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferVar_15.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferVar_16.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferVar_17.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferVar_18.hx
Labels: enhancement, haxe
