Repository fdorg/flashdevelop, pull requests merged in 2018-08, with the labels that each got.

#2307 [Haxe][CodeComplete][InferVariableType] Fixed: System.StackOverflowException. fixes #2306
  External/Plugins/HaXeContext/Completion/CodeComplete.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_issue2306_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_issue2306_1.hx
Labels: coderefactor, haxe

#2308 [CodeGenerator][GenerateConstructor] Fixed: Generate constructor inserts constructor in a strange location. fixes #2305
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGenerateConstructor_issue2305_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateConstructor_issue2305_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateConstructor_issue2305_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateConstructor_issue2305_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateConstructor_issue2305_4.hx
Labels: coderefactor, haxe

#2311 [Refactoring] Performance optimizations... Removed an attempt was made to get an expression if the cursor moved to a comment or to a reserved word(public, function, etc...).
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/ASCompletion/PluginMain.cs
Labels: enhancement

#2313 [Haxe][CodeComplete] Improved inference the type of the optional parameter with default value. fixes #2312
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  External/Plugins/HaXeContext/Completion/CodeComplete.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterContextualGeneratorTests_issue2312_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterContextualGeneratorTests_issue2312_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2312_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2312_2.hx
Labels: coderefactor, haxe

#2316 [Haxe][CodeGenerator][GenerateSwitch] Disable `Generate Switch` for the declaration of function's parameter
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests2.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateSwitchLabels_issue2285_19.hx
Labels: coderefactor, haxe

#2323 [Haxe][FileParser] Fixed parsing of function's parameters, eg `foo( ? v : Type)`. fixes #2320
  External/Plugins/HaXeContext/Model/FileParser.cs
  Tests/External/Plugins/HaxeContext.Tests/Completion/CodeCompleteTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Model/FileParserTests.cs
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/AfterOnCharAndReplaceTextIssue2320_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceTextIssue2320_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2320_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2320_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2320_3.hx
Labels: haxe, parser

#2325 [Haxe][InferParameterType] Improved inference of the paramater's type. fixes# 2312
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  External/Plugins/ASCompletion/Model/ASFileParser.cs
  External/Plugins/ASCompletion/Model/MemberModel.cs
  External/Plugins/HaXeContext/Model/FileParser.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterContextualGeneratorTests_issue2312_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterContextualGeneratorTests_issue2312_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterContextualGeneratorTests_issue2312_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2312_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2312_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2312_5.hx
Labels: actionscript, coderefactor, enhancement, haxe

#2328 [Flash] Added basic support for AIR31 and FP31
  External/Plugins/AirProperties/Managers/PropertyManager.cs
  FlashDevelop/Bin/Debug/Settings/Platforms/AS3/air.xml
  FlashDevelop/Bin/Debug/Settings/Platforms/AS3/airmobile.xml
  FlashDevelop/Bin/Debug/Settings/Platforms/AS3/flashplayer.xml
  FlashDevelop/Bin/Debug/Settings/Platforms/Haxe/air.xml
  FlashDevelop/Bin/Debug/Settings/Platforms/Haxe/airmobile.xml
  FlashDevelop/Bin/Debug/Settings/Platforms/Haxe/flashplayer.xml
Labels: flash

#2329 [Haxe][FileParser] Fixed: Wrong parse of class with single-line functions. fixes #1907
  External/Plugins/HaXeContext/Model/FileParser.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Model/FileParserTests.cs
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterContextualGeneratorTests_issue2210_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeContextualGeneratorTests_issue2210_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2210_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2210_10.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2210_11.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2210_12.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2210_13.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2210_14.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2210_15.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2210_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2210_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2210_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2210_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2210_6.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2210_7.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2210_8.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2210_9.hx
Labels: bug, haxe, parser

#2330 [CodeComplete][FindParameterIndex] Fixed: Function call tip wrong param index. fixes #2324
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASCompleteTests.cs
Labels: actionscript, coderefactor, haxe

#2331 [CodeRefactor][Rename] Fixed: renaming folder's name to it previous name calls a bug. fixes #2318
  External/Plugins/CodeRefactor/Commands/Move.cs
  External/Plugins/CodeRefactor/Commands/RenameFile.cs
Labels: coderefactor

#2332 [AS2Context][Context][CheckModel] Fixed: Package 'xxx' did not match file path doesn't work for root (empty) package. fixes #894
  External/Plugins/AS2Context/Context.cs
Labels: actionscript, coderefactor, haxe

#2333 [Haxe][FileParser] Support for @:publicField. Fixed: Outline panel: incompatibility with @:publicFields. fixes #163
  External/Plugins/HaXeContext/Model/FileParser.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Model/FileParserTests.cs
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue163_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue163_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue163_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue163_3_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue163_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue163_4_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue163_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue163_5_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue163_6.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue163_6_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue163_7.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue163_7_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue163_8.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue163_8_1.hx
Labels: haxe, parser

#2334 Added unit tests for issue #366. closes #366
  Tests/External/Plugins/HaxeContext.Tests/Completion/CodeCompleteTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/DeclarationLookupIssue366_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/DeclarationLookupIssue366_2.hx
Labels: haxe

#2340 [Haxe][Context] Add a public access modifier to a method whose modifier is not explicitly specified, if the method overrides the parent's public method. fixes #2338
  External/Plugins/AS2Context/Context.cs
  External/Plugins/AS3Context/AbcConverter.cs
  External/Plugins/AS3Context/Context.cs
  External/Plugins/AS3Context/MxmlComplete.cs
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/ASCompletion/Model/MemberModel.cs
  External/Plugins/CodeRefactor/Commands/Move.cs
  External/Plugins/HaXeContext/Completion/CodeComplete.cs
  External/Plugins/HaXeContext/Context.cs
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  External/Plugins/HaXeContext/Model/FileParser.cs
  Tests/External/Plugins/HaxeContext.Tests/Model/FileParserTests.cs
Labels: enhancement, haxe

#2344 [Haxe][FileParser] Fixed: System.IndexOutOfRangeException: 'Index was outside the bounds of the array.'. fixes #2342
  External/Plugins/ASCompletion/Model/MemberModel.cs
  External/Plugins/HaXeContext/Model/FileParser.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Model/FileParserTests.cs
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2210_16.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2210_17.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2210_18.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2210_19.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2342_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2342_2.hx
Labels: haxe, parser

#2347 [AS3][Context][IsImported] Fixed: 'Exception: Ambiguous Type'. fixes #2346
  External/Plugins/AS2Context/Context.cs
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  Tests/External/Plugins/ASCompletion.Tests/ASCompletion.Tests.csproj
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASGeneratorTests.cs
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/AfterContextualGenerator_issue2346_1.as
  Tests/External/Plugins/ASCompletion.Tests/Test Files/generated/as3/BeforeContextualGenerator_issue2346_1.as
Labels: actionscript

#2351 [Haxe][CodeComplete][InferParameterVarType] Fixed: System.StackOverflowException. fixes #2350
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferParameterVar_issue2350_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferParameterVar_issue2350_1.hx
Labels: haxe

#2353 [Haxe][CodeGenerator] Fixed: Disable autoimport if generation of the type declaration for variable is disabled. fixes #2352
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_issue2352_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_issue2352_1.hx
Labels: haxe

#2357 [Haxe][CodeComplete] Fixed the problem with the tooltip's incorrect work with super constructor call. fixes #2356
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  External/Plugins/HaXeContext/Completion/CodeComplete.cs
Labels: haxe

#2172 HaxeDevelop Search query F1
  External/Plugins/HaXeContext/HaXeSettings.cs
Labels: enhancement, haxe

#2360 [Haxe][FileParser] Fixed: Wrong parsing of function type. fixes #2359
  External/Plugins/HaXeContext/Model/FileParser.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Model/FileParserTests.cs
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2359_1.hx
Labels: haxe

#2363 [Haxe][CodeComplete][InferType] Fixed: Exception: System.StackOverflowException. fixes #2362
  External/Plugins/HaXeContext/Completion/CodeComplete.cs
  Tests/External/Plugins/ASCompletion.Tests/ASCompletion.Tests.csproj
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASCompleteTests.cs
  Tests/External/Plugins/ASCompletion.Tests/Test Files/completion/haxe/GetExpressionType_Type_issue2362_1.hx
  Tests/External/Plugins/ASCompletion.Tests/Test Files/completion/haxe/GetExpressionType_Type_issue2362_2.hx
  Tests/External/Plugins/ASCompletion.Tests/Test Files/completion/haxe/GetExpressionType_Type_issue2362_3.hx
Labels: haxe

#2365 [Haxe][CodeComplete] Added tooltip for callback declaration. fixes #2364
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/HaXeContext/Completion/CodeComplete.cs
  PluginCore/PluginCore/Controls/UITools.cs
  Tests/External/Plugins/HaxeContext.Tests/Completion/CodeCompleteTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/CalltipDef_issue2364_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/CalltipDef_issue2364_2.hx
Labels: haxe

#2367 [Haxe][CodeComplete] Fixed: Exception: startIndex cannot be larger than length of string. fixes #2366
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  Tests/External/Plugins/HaxeContext.Tests/Completion/CodeCompleteTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/DeclarationLookupIssue2366_1.hx
Labels: haxe

#2372 [Haxe][CodeComplete][InferType] Fixed: System.StackOverflowException. fixes #2371
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  External/Plugins/HaXeContext/Completion/CodeComplete.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferParameterVar_issue2371_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferParameterVar_issue2371_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferParameterVar_issue2371_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferParameterVar_issue2371_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferParameterVar_issue2371_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferParameterVar_issue2371_6.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterAssignStatementToVar_inferParameterVar_issue2371_7.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferParameterVar_issue2371_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferParameterVar_issue2371_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferParameterVar_issue2371_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferParameterVar_issue2371_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferParameterVar_issue2371_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferParameterVar_issue2371_6.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeAssignStatementToVar_inferParameterVar_issue2371_7.hx
Labels: haxe

#2375 [Haxe][Context] Fixed: Wrong result if you're looking for value of 'enum abstract'. fixes #2373
  External/Plugins/HaXeContext/Context.cs
  Tests/External/Plugins/ASCompletion.Tests/ASCompletion.Tests.csproj
  Tests/External/Plugins/ASCompletion.Tests/Completion/ASCompleteTests.cs
  Tests/External/Plugins/ASCompletion.Tests/Test Files/completion/haxe/GetExpressionType_Type_issue2373_1.hx
  Tests/External/Plugins/ASCompletion.Tests/Test Files/completion/haxe/GetExpressionType_Type_issue2373_2.hx
  Tests/External/Plugins/HaxeContext.Tests/CodeRefactor/Commands/RefactorCommandTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/AfterRename_issue2373_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/BeforeRename_issue2373_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/coderefactor/rename/BeforeRename_issue2373_1_withoutEntryPoint.hx
Labels: haxe

#2379 [Haxe][FileParser] Fixed: Completion broken for 'private typedef UnsafeArray<T> = Vector<T>'. fixes #2377
  External/Plugins/HaXeContext/Model/FileParser.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Model/FileParserTests.cs
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2377_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/parser/Issue2377_2.hx
Labels: haxe, parser

#2380 [Haxe][CodeComplete] Fixed: Completion broken for 'Null<ConcreteType>'. fixes #2358
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  Tests/External/Plugins/HaxeContext.Tests/Completion/CodeCompleteTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/BeforeOnCharAndReplaceTextIssue2358_1.hx
Labels: haxe
