Repository fdorg/flashdevelop, pull requests merged in 2019-11, with the labels that each got.

#2892 [CodeGenerator] Fixed 'class Foo extends NewClass<generator>'. fixes #2891
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/CanGenerateClass_issue2891_1.hx
Labels: actionscript, bug, haxe

#2893 [Haxe][CodeGenerator] Added generator 'Generate constructor with initializer' for 'abstract'. fixes #2872
  External/Plugins/ASCompletion/Completion/ASGenerator.cs
  External/Plugins/ASCompletion/Generators/CodeGeneratorDefaultBehavior.cs
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  External/Plugins/HaXeContext/Generators/CodeGeneratorAbstractBehavior.cs
  External/Plugins/LayoutManager/PluginMain.cs
  External/Plugins/LayoutManager/Settings.cs
  FlashDevelop/Bin/Debug/Snippets/haxe/generators/AbstractConstructorWithInitializer.fds
  PluginCore/PluginCore/Resources/de_DE.resx
  PluginCore/PluginCore/Resources/en_US.resx
  PluginCore/PluginCore/Resources/eu_ES.resx
  PluginCore/PluginCore/Resources/ja_JP.resx
  PluginCore/PluginCore/Resources/ko_KR.resx
  PluginCore/PluginCore/Resources/zh_CN.resx
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterGenerateConstructor_issue2872_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeGenerateConstructor_issue2872_1.hx
Labels: enhancement, haxe

#2894 Fixing progress bars not appearing
  External/Plugins/CodeRefactor/Controls/ProgressDialog.cs
  FlashDevelop/Dialogs/FRInFilesDialog.cs
Labels: theming

#2895 [Haxe[[CodeGenerator] Added new generator `initialize member` for local variable. fixes #2762
  External/Plugins/ASCompletion/Model/MemberModel.cs
  External/Plugins/HaXeContext/Generators/CodeGenerator.cs
  External/Plugins/HaXeContext/Model/FileParser.cs
  PluginCore/PluginCore/Resources/de_DE.resx
  PluginCore/PluginCore/Resources/en_US.resx
  PluginCore/PluginCore/Resources/eu_ES.resx
  PluginCore/PluginCore/Resources/ja_JP.resx
  PluginCore/PluginCore/Resources/ko_KR.resx
  PluginCore/PluginCore/Resources/zh_CN.resx
  Tests/External/Plugins/HaxeContext.Tests/Generators/CodeGeneratorTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterInitializeLocalVariable_issue2762_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/AfterInitializeLocalVariable_issue2762_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeInitializeLocalVariable_issue2762_1.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeInitializeLocalVariable_issue2762_2.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeInitializeLocalVariable_issue2762_3.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeInitializeLocalVariable_issue2762_4.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeInitializeLocalVariable_issue2762_5.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeInitializeLocalVariable_issue2762_6.hx
  Tests/External/Plugins/HaxeContext.Tests/Test Files/generators/code/BeforeInitializeLocalVariable_issue2762_7.hx
Labels: enhancement, haxe

#2898 [Regeression][ProjectTree] Duplicate file - selection without extension. fixes #2897
  External/Plugins/ProjectManager/Actions/FileActions.cs
  External/Plugins/ProjectManager/Helpers/LineEntryDialog.cs
Labels: ProjectManager, regression

#2901 [Haxe4][ProjectManager] Added support for `-p`, `--class-path`, `-L`, `--library`, `-m`, `--main`, `--define`. closes #2864
  External/Plugins/ProjectManager/Projects/Haxe/HaxeProject.cs
  PluginCore/PluginCore/PlatformData.cs
Labels: ProjectManager, enhancement, haxe

#2906 [ProjectManager[ Import project from HXML. fixes #2904
  External/Plugins/ProjectManager/Actions/ProjectActions.cs
  External/Plugins/ProjectManager/Projects/Haxe/HaxeProject.cs
  External/Plugins/ProjectManager/Projects/Project.cs
Labels: ProjectManager, bug, haxe

#2907 [ProjectManager] Open folder...
  External/Plugins/ProjectManager/Actions/ProjectActions.cs
  External/Plugins/ProjectManager/Controls/FDMenus.cs
  External/Plugins/ProjectManager/Controls/RecentProjectsMenu.cs
  External/Plugins/ProjectManager/PluginMain.cs
  External/Plugins/ProjectManager/PluginUI.cs
  External/Plugins/ProjectManager/Projects/Haxe/HaxeProject.cs
  External/Plugins/ProjectManager/Projects/Project.cs
  External/Plugins/ProjectManager/Projects/ProjectLoader.cs
  FlashDevelop/MainForm.cs
  PluginCore/PluginCore/Enumerators.cs
  PluginCore/PluginCore/Resources/de_DE.resx
  PluginCore/PluginCore/Resources/en_US.resx
  PluginCore/PluginCore/Resources/eu_ES.resx
  PluginCore/PluginCore/Resources/ja_JP.resx
  PluginCore/PluginCore/Resources/ko_KR.resx
  PluginCore/PluginCore/Resources/zh_CN.resx
Labels: ProjectManager, enhancement

#2909 [Haxe][ProjectManager] Fixed System.StackOverflowException. fixes #2908
  External/Plugins/ProjectManager/Projects/Haxe/HaxeProject.cs
Labels: ProjectManager, bug, haxe

#2910 [Haxe][CodeComplete] Added tooltip for overloaded operators. closes #2818
  External/Plugins/ASCompletion/Completion/ASComplete.cs
  External/Plugins/ASCompletion/Model/FileModel.cs
  External/Plugins/ASCompletion/Model/PathModel.cs
  External/Plugins/HaXeContext/Completion/CodeComplete.cs
  FlashDevelop/MainForm.cs
  PluginCore/PluginCore/Controls/CompletionList.cs
  PluginCore/PluginCore/Controls/MethodCallTip.cs
  PluginCore/PluginCore/Controls/UITools.cs
  Tests/External/Plugins/HaxeContext.Tests/Completion/Haxe3/CodeCompleteTests.cs
  Tests/External/Plugins/HaxeContext.Tests/HaxeContext.Tests.csproj
  Tests/External/Plugins/HaxeContext.Tests/Test Files/completion/GetToolTipText_issue2818_1.hx
Labels: enhancement, haxe

#2896 Follow-up fix for invisible progress bars
  PluginCore/PluginCore/Controls/Common.cs
Labels: theming

#2917 [HaxeDevelop][HaxeTypeWizard] Fixed: 'Unable to load an incompatible or broken plugin: HaxeTypeWizard.dll'. fixes #2916
  External/Plugins/HaxeTypeWizard/PluginMain.cs
Labels: bug, haxe

#2918 [HaxeDevelop][HaxeTypeWizard] Fixed: 'Unable to load an incompatible or broken plugin: HaxeTypeWizard.dll'. fixes #2916
  External/Plugins/HaxeTypeWizard/HaxeTypeWizard.csproj
  FlashDevelop.sln
Labels: bug, haxe

#2922 [Regression] Fixed release build
  External/Plugins/CodeRefactor/Provider/RefactoringHelper.cs
  FlashDevelop.sln
Labels: regression

#2923 [Regression] Fixed release build
  FlashDevelop.sln
Labels: regression
